<div class="list">
    <div class="header">Корзина</div>
    <div class="cart">
        <app-cart-goods-item 
        *ngFor="let p of purchasesService.purchases"
        [purchase]="p"
        (delete)="delPurchase($event)" (add)="addPurchase($event)"></app-cart-goods-item>
    </div>
    <div class="header footer">
        Итого: {{purchasesService.summary}} {{value}}
    </div>
    <div class="tui-form__row">
        <tui-select
        (ngModelChange)="count()"
        [(ngModel)]="value"
        class="b-form tui-space_bottom-5"
        tuiTextfieldSize="m"
        >Валюта
        <tui-data-list-wrapper
        *tuiDataList
        [items]="currencyService.currencies"
        >
        </tui-data-list-wrapper>
        </tui-select>
    <div class="cart">
        <app-cart-form></app-cart-form>
    </div>
</div>
